1. Set the variable test1 to the string &#39;This is a test of the emergency text system,&#39; and save test1 to a
file named test.txt.

In [1]:
file = open("test.txt", 'w')
test1 = 'This is a test of the emergency text system,'
file.write(test1)
file.close()

2. Read the contents of the file test.txt into the variable test2. Is there a difference between test 1
and test 2?

In [7]:
test2 = open("test.txt", 'r')
print(test1)
test2.read()

#test1 and test2 are same

This is a test of the emergency text system,

'This is a test of the emergency text system,'

3. Create a CSV file called books.csv by using these lines:

In [22]:
#placed the entire string in a text file called books_blueprint.txt
import csv
import pandas as pd
f = pd.read_csv(r"C:\Users\A3319\books_blueprint")
f.to_csv('books.csv', index = None)

4. Use the sqlite3 module to create a SQLite database called books.db, and a table called books with
these fields: title (text), author (text), and year (integer).

In [25]:
import sqlite3
conn = sqlite3.connect('books.db')
c = conn.cursor()
c.execute('''CREATE TABLE books 
          (title text, author text, year integer)''')

5. Read books.csv and insert its data into the books table.

In [27]:
csv_file = pd.read_csv('books.csv')
csv_file.to_sql('books', conn, if_exists='append', index = False)

6. Select and print the title column from the books table in alphabetical order.

In [33]:
c.execute('''SELECT title from books order by title''')
c.fetchall()

[('Perdido Street Station',),
 ('Small Gods',),
 ('The Spellman Files',),
 ('The Weirdstone of Brisingamen',),
 ('Thud!',)]

7. From the book table, select and print all columns in the order of publication.

In [35]:
c.execute('''SELECT * FROM BOOKS ORDER BY YEAR ASC''')
c.fetchall()

[('Small Gods', 'Terry Pratchett', 1992),
 ('The Weirdstone of Brisingamen', 'Alan Garner', '1960\\n'),
 ('Perdido Street Station', 'China Mi√©ville', '2000\\n'),
 ('Thud!', 'Terry Pratchett', '2005\\n'),
 ('The Spellman Files', 'Lisa Lutz', '2007\\n')]

8. Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in
exercise 6.

In [41]:
from sqlalchemy import create_engine
engine  = create_engine('sqlite:///books')

9. Install the Redis server and the Python redis library (pip install redis) on your computer. Create a
Redis hash called test with the fields count (1) and name (&#39;Fester Bestertester&#39;). Print all the fields for
test.

In [49]:
import redis
test = redis.StrictRedis(host='localhost',
port=6379, db=0)

test.set("name", "Fester Bestertester")
t = test.get('name')
print(t)